# {{ ansible_managed }}
###\\\\ Site customization ////###

## domain
## Main robot hostname
## Example: domain	domain.tld
domain	{{ sympa_domain }}
logo_html_definition {{ sympa_logo_html_definition }}

## email
## Local part of sympa email address
## Effective address will be [EMAIL]@[HOST]
email	{{ sympa_email }}

## gecos
## Gecos for service mail sent by Sympa itself
## This parameter is used for display name in the "From:" header
gecos	{{ sympa_gecos }}

## listmaster
## Listmasters email list comma separated
## Sympa will associate listmaster privileges to these email addresses (mail
## and web interfaces). Some error reports may also be sent to these
## addresses.
## Example: listmaster	your_email_address@domain.tld
listmaster	{{ sympa_listmaster | join(",") }}

## wwsympa_url
## URL of main Web page
## Example: wwsympa_url	http://host.domain.tld/sympa
wwsympa_url	{{ sympa_wwsympa_url }}

## process_archive
## Store distributed messages into archive
## This setting can be overridden by each list
process_archive	{{ sympa_process_archive }}

## voot_feature
voot_feature	{{ sympa_voot_feature }}

## max_wrong_password
max_wrong_password	{{ sympa_max_wrong_password }}

## static_content_path
## Directory for storing static contents (CSS, members pictures,
## documentation) directly delivered by HTTP server
static_content_path	{{ sympa_static_content_path }}

## static_content_url
## URL mapped with the static_content_path directory defined above
static_content_url	{{ sympa_static_content_url }}

## cookie
## Secret used by Sympa to make MD5 fingerprint in web cookies secure
## Should not be changed ! May invalid all user password
## Example: cookie	123456789
cookie	`/usr/bin/head -n1 /etc/sympa/cookie`

## create_list
## Who is able to create lists
## This parameter is a scenario, check sympa documentation about scenarios if
## you want to define one
#create_list	public_listmaster

## custom_robot_parameter
## Used to define a custom parameter for your server. Do not forget the
## semicolon between the param name and the param value.
#custom_robot_parameter	

###\\\\ Directories ////###

## home
## Directory containing mailing lists subdirectories
#home	/var/lib/sympa/list_data

## etc
## Directory for configuration files; it also contains scenari/ and templates/
## directories
#etc	/etc/sympa

###\\\\ System related ////###

## syslog
## Syslog facility for sympa
## Do not forget to edit syslog.conf
syslog	{{ sympa_syslog }}

## log_level
## Log verbosity
## 0: normal, 2,3,4: for debug
log_level	{{ sympa_log_level }}

## log_socket_type
## Communication mode with syslogd (unix | inet)
log_socket_type	{{ sympa_log_socket_type }}

## log_condition
#log_condition	

## log_module
#log_module	

## umask
## Umask used for file creation by Sympa
#umask	027

###\\\\ Sending related ////###

## sendmail
## Path to the MTA (sendmail, postfix, exim or qmail)
## should point to a sendmail-compatible binary (eg: a binary named "sendmail"
## is distributed with Postfix)
sendmail	{{ sympa_sendmail }}

## maxsmtp
## Max. number of Sendmail processes (launched by Sympa) running
## simultaneously
## Proposed value is quite low, you can rise it up to 100, 200 or even 300
## with powerful systems.
maxsmtp	{{ sympa_maxsmtp }}

## automatic_list_families
## Defines the name of the family the automatic lists are based on.
#automatic_list_families	

## automatic_list_prefix
## Defines the prefix allowing to recognize that a list is an automatic list.
#automatic_list_prefix	

## log_smtp
log_smtp	{{ sympa_log_smtp }}

## use_blacklist
## comma separated list of operations for which blacklist filter is applied
## Setting this parameter to "none" will hide the blacklist feature
use_blacklist	{{ sympa_use_blacklist | join(',') }}

## reporting_spam_script_path
## If set, when a list editor report a spam, this external script is run by
## wwsympa or sympa, the spam is sent into script stdin
#reporting_spam_script_path	

## max_size
## Default maximum size (in bytes) for messages (can be re-defined for each
## list)
max_size	{{ sympa_max_size }}

## nrcpt
## Maximum number of recipients per call to Sendmail. The nrcpt_by_domain.conf
## file allows a different tuning per destination domain.
nrcpt	{{ sympa_sendmail_nrcpt }}

## avg
## Max. number of different domains per call to Sendmail
avg	{{ sympa_sendmail_avg }}

## rfc2369_header_fields
## Specify which rfc2369 mailing list headers to add
rfc2369_header_fields	{{ sympa_rfc2369_header_fields | join(",") }}

## remove_headers
## Specify header fields to be removed before message distribution
remove_headers	{{ sympa_remove_headers | join(",") }}

## reject_mail_from_automates_feature
## Reject mail from automates (crontab, etc) sent to a list?
reject_mail_from_automates_feature	{{ sympa_reject_mail_from_automates_feature }} 

###\\\\ Bulk mailer ////###

## sympa_packet_priority
## Default priority for a packet to be sent by bulk.
sympa_packet_priority	{{ sympa_packet_priority }}

## bulk_fork_threshold
## Minimum number of packets in database before the bulk forks to increase
## sending rate
bulk_fork_threshold	{{ sympa_bulk_fork_threshold }}

## bulk_max_count
## Max number of bulks that will run on the same server
bulk_max_count	{{ sympa_bulk_max_count }}

## bulk_lazytime
## The number of seconds a slave bulk will remain running without processing a
## message before it spontaneously dies.
bulk_lazytime	{{ sympa_bulk_lazytime }}

## bulk_sleep
## The number of seconds a bulk sleeps between starting a new loop if it
## didn't find a message to send.
## Keep it small if you want your server to be reactive.
bulk_sleep	{{ sympa_bulk_sleep }}

## bulk_wait_to_fork
## Number of seconds a master bulk waits between two packets number checks.
## Keep it small if you expect brutal increases in the message sending load.
bulk_wait_to_fork	{{ sympa_bulk_wait_to_fork }}

###\\\\ Quotas ////###

## default_max_list_members
## Default limit for the number of subscribers per list (0 means no limit)
default_max_list_members	{{ sympa_default_max_list_members }}

## default_shared_quota
## Default disk quota for shared repository
#default_shared_quota	

###\\\\ Spool related ////###

## spool
## Directory containing various specialized spools
## All spool are created at runtime by sympa.pl
spool	{{ sympa_spool }}

## queue
## Directory for message incoming spool
queue	{{ sympa_queue }}

## queuemod
## Directory for moderation spool
queuemod	{{ sympa_queuemod }}

## queuedigest
## Directory for digest spool
queuedigest	{{ sympa_queuedigest }}

## queueauth
## Directory for authentication spool
queueauth	{{ sympa_queueauth }}

## queueoutgoing
## Directory for archive spool
queueoutgoing	{{ sympa_queueoutgoing }}

## queuesubscribe
## Directory for subscription spool
queuesubscribe	{{ sympa_queuesubscribe }}

## queuetopic
## Directory for topic spool
queuetopic	{{ sympa_queuetopic }}

## queuebounce
## Directory for bounce incoming spool
queuebounce	{{ sympa_queuebounce }}

## queuetask
## Directory for task spool
queuetask	{{ sympa_queuetask }}

## queueautomatic
## Directory for automatic list creation spool
queueautomatic	{{ sympa_queueautomatic }}

## queuebulk
## Directory for message outgoing spool
queuebulk	{{ sympa_queuebulk }}

## viewmail_dir
## Directory containing HTML file generated by MHonArc while displaying
## messages other than archives
viewmail_dir	{{ sympa_viewmail_dir }}

###\\\\ Internationalization related ////###

## supported_lang
## Supported languages
## This is the set of language that will be proposed to your users for the
## Sympa GUI. Don't select a language if you don't have the proper locale
## packages installed.
#supported_lang	ca,cs,de,el,es,et,en-US,fr,fi,hu,it,ja,ko,nl,nb,oc,pl,pt-BR,ru,sv,tr,vi,zh-CN,zh-TW

## lang
## Default language (one of supported languages)
## This is the default language used by Sympa
lang	{{ sympa_lang }}

## legacy_character_support_feature
## If set to "on", enables support of legacy character set
## See also charset.conf(5) manpage
#legacy_character_support_feature	off

###\\\\ Bounce related ////###

## welcome_return_path
## Welcome message return-path ( unique | owner )
## If set to unique, new subcriber is removed if welcome message bounce
welcome_return_path	{{ sympa_welcome_return_path }}

## remind_return_path
## Remind message return-path ( unique | owner )
## If set to unique, subcriber is removed if remind message bounce, use with
## care
remind_return_path	{{ sympa_remind_return_path }}

## bounce_path
## Directory for storing bounces
## Better if not in a critical partition
bounce_path	{{ sympa_bounce_path }}

## expire_bounce_task
## Task name for expiration of old bounces
expire_bounce_task	{{ sympa_expire_bounce_task }}

## bounce_warn_rate
## Bouncing email rate for warn list owner
bounce_warn_rate	{{ sympa_bounce_warn_rate }}

## bounce_halt_rate
## Bouncing email rate for halt the list (not implemented)
## Not yet used in current version, Default is 50
bounce_halt_rate	{{ sympa_bounce_halt_rate }}

###\\\\ Tuning ////###

## cache_list_config
## Use of binary version of the list config structure on disk (none |
## binary_file)
## Set this parameter to "binary_file" if you manage a big amount of lists
## (1000+); it should make the web interface startup faster
cache_list_config	{{ sympa_cache_list_config }}

## sympa_priority
## Sympa commands priority
sympa_priority	{{ sympa_sympa_priority }}

## request_priority
request_priority	{{ sympa_request_priority }}

## owner_priority
owner_priority	{{ sympa_owner_priority }}

## default_list_priority
## Default priority for list messages
default_list_priority	{{ sympa_default_list_priority }}

## parsed_family_files
## comma-separated list of files that will be parsed by Sympa when
## instantiating a family (no space allowed in file names)
parsed_family_files	{{ sympa_parsed_family_files }}

###\\\\ Database related ////###

## db_type
## Type of the database (mysql|Pg|Oracle|Sybase|SQLite)
## Be careful to the case
db_type	{{ sympa_db_type }}

## db_name
## Name of the database
## With SQLite, the name of the DB corresponds to the DB file
db_name	{{ sympa_db_name }}

## db_host
## Hostname of the database server
## Example: db_host	localhost
db_host	{{ sympa_db_host }}

## db_port
## Port of the database server
db_port	{{ sympa_db_port }}

## db_user
## User for the database connection
## Example: db_user	sympa
db_user	{{ sympa_db_user }}

## db_passwd
## Password for the database connection
## What ever you use a password or not, you must protect the SQL server (is it
## not a public internet service ?)
## Example: db_passwd	your_passwd
db_passwd	{{ sympa_db_password }}

## db_env
## Environment variables setting for database
## This is useful for defining ORACLE_HOME
#db_env	

## db_additional_subscriber_fields
## Database private extension to subscriber table
## You need to extend the database format with these fields
## Example: db_additional_subscriber_fields	billing_delay,subscription_expiration
#db_additional_subscriber_fields	

## db_additional_user_fields
## Database private extension to user table
## You need to extend the database format with these fields
## Example: db_additional_user_fields	age,address
#db_additional_user_fields	

## logs_expiration_period
## Number of months that elapse before a log is expired
#logs_expiration_period	3

## default_ttl
## Default timeout between two scheduled synchronizations of list members with
## data sources.
#default_ttl	3600

## default_distribution_ttl
## Default timeout between two action-triggered synchronizations of list
## members with data sources.
#default_distribution_ttl	300

## default_sql_fetch_timeout
## Default timeout while performing a fetch for an include_sql_query sync
#default_sql_fetch_timeout	300

###\\\\ S/MIME configuration ////###

## capath
## Directory containing trusted CA certificates
#capath	

## cafile
## File containing trusted CA certificates
#cafile	

## ssl_cert_dir
## Directory containing user certificates
#ssl_cert_dir	/var/lib/sympa/list_data/X509-user-certs

## key_passwd
## Password used to crypt lists private keys
## Example: key_passwd	your_password
#key_passwd	

###\\\\ DKIM ////###

## dkim_feature
dkim_feature	{{ sympa_dkim_feature }}

## dkim_add_signature_to
## Insert a DKIM signature to message from the robot, from the list or both
dkim_add_signature_to	{{ sympa_dkim_add_signature_to | join(",") }}

## dkim_signature_apply_on
## Type of message that is added a DKIM signature before distribution to
## subscribers. Possible values are "none", "any" or a list of the following
## keywords: "md5_authenticated_messages", "smime_authenticated_messages",
## "dkim_authenticated_messages", "editor_validated_messages".
dkim_signature_apply_on	{{ sympa_dkim_signature_apply_on | join(",") }}

## dkim_private_key_path
## Location of the file where DKIM private key is stored
dkim_private_key_path	{{ sympa_dkim_private_key_path }}

## dkim_signer_domain
## The "d=" tag as defined in rfc 4871, default is virtual host domain name
{% if sympa_dkim_signer_domain is defined %}
dkim_signer_domain	{{ sympa_dkim_signer_domain }}
{% endif %}

## dkim_selector
## The selector
{% if sympa_dkim_selector is defined %}
dkim_selector	
{% endif %}

## dkim_signer_identity
## The "i=" tag as defined in rfc 4871, default is null
{% if sympa_dkim_signer_identity is defined %}
dkim_signer_identity	{{ sympa_dkim_signer_identity }}
{% endif %}

###\\\\ Antivirus plug-in ////###

## antivirus_path
## Path to the antivirus scanner engine
## supported antivirus: Clam AntiVirus/clamscan & clamdscan, McAfee/uvscan,
## Fsecure/fsav, Sophos, AVP and Trend Micro/VirusWall
## Example: antivirus_path	/usr/local/bin/clamscan
{% if sympa_antivirus_path is defined %}
antivirus_path	
{% endif %}

## antivirus_args
## Antivirus plugin command argument
## Example: antivirus_args	--no-summary --database /usr/local/share/clamav
{% if sympa_antivirus_args is defined %}
antivirus_args	{{ sympa_antivirus_args }}
{% endif %}

###\\\\ Tag based spam filtering ////###

## antispam_tag_header_name
## If a spam filter (like spamassassin or j-chkmail) add a smtp headers to tag
## spams, name of this header (example X-Spam-Status)
antispam_tag_header_name	{{ sympa_antispam_tag_header_name }}

## antispam_tag_header_spam_regexp
## Regexp applied on this header to verify message is a spam (example Yes)
{% if sympa_antispam_tag_header_spam_regexp is defined %}
antispam_tag_header_spam_regexp	{{ sympa_antispam_tag_header_spam_regexp }}
{% endif %}

## antispam_tag_header_ham_regexp
## Regexp applied on this header to verify message is NOT a spam (example No)
{% if sympa_antispam_tag_header_ham_regexp is defined %}
antispam_tag_header_ham_regexp	{{ sympa_antispam_tag_header_ham_regexp }}
{% endif %}

## spam_status
## Messages are supposed to be filtered by an antispam that add one more
## headers to messages. This parameter is used to select a special scenario in
## order to decide the message spam status: ham, spam or unsure. This
## parameter replace antispam_tag_header_name, antispam_tag_header_spam_regexp
## and antispam_tag_header_ham_regexp.

{% if sympa_spam_status is defined %}
spam_status	{{ sympa_spam_status }}
{% endif %}

###\\\\ Web interface parameters ////###

## arc_path
## Directory for storing HTML archives
## Better if not in a critical partition
arc_path	{{ sympa_arc_path }}

## archive_default_index
## Default index organization when entering the web archive: either threaded
## or in chronological order
archive_default_index	{{ sympa_archive_default_index }}

## cookie_expire
## HTTP cookies lifetime
cookie_expire	{{ sympa_cookie_expire }}

## cookie_domain
## HTTP cookies validity domain
cookie_domain	{{ sympa_cookie_domain }}

## cookie_refresh
## Average interval to refresh HTTP session ID.
cookie_refresh	{{ sympa_cookie_refresh }}

## custom_archiver
## Activates a custom archiver to use instead of MHonArc. The value of this
## parameter is the absolute path on the file system to the script of the
## custom archiver.
{% if sympa_custom_archiver is defined %}
custom_archiver	{{ sympa_custom_archiver }}
{% endif %}

## default_home
## Type of main Web page ( lists | home )
default_home	{{ sympa_default_home }}

## edit_list
edit_list	{{ sympa_edit_list }}

## ldap_force_canonical_email
## When using LDAP authentication, if the identifier provided by the user was
## a valid email, if this parameter is set to false, then the provided email
## will be used to authenticate the user. Otherwise, use of the first email
## returned by the LDAP server will be used.
ldap_force_canonical_email	{{ sympa_ldap_force_canonical_email }}

## log_facility
## Syslog facility for wwsympa, archived and bounced
## Default is to use previously defined sympa log facility.
#log_facility	LOCAL1

## mhonarc
## Path to MHonArc mail2html plugin
## This is required for HTML mail archiving
#mhonarc	/usr/bin/mhonarc

## htmlarea_url
#htmlarea_url	

## password_case
## Password case (insensitive | sensitive)
## Should not be changed ! May invalid all user password
#password_case	insensitive

## review_page_size
## Default number of lines of the array displaying users in the review page
review_page_size	{{ sympa_review_page_size }}

## title
## Title of main Web page
title	{{ sympa_web_page_title }}

## use_html_editor
## If set to "on", users will be able to post messages in HTML using a
## javascript WYSIWYG editor.
#use_html_editor	0

## html_editor_url
## URL path to the javascript file making the WYSIWYG HTML editor available.
## Relative path under <static_content_url> or absolute path
## Example is for TinyMCE 4 installed under <static_content_path>/js/tinymce/.
## Example: html_editor_url	js/tinymce/tinymce.min.js
#html_editor_url	

## html_editor_init
## Javascript excerpt that enables and configures the WYSIWYG HTML editor.
## Example: html_editor_init	tinymce.init({selector:"#body",language:lang.split(/[^a-zA-Z]+/).join("_")});
#html_editor_init	

## use_fast_cgi
## Is FastCGI module for HTTP server installed (0 | 1)
## This module provide much faster web interface
use_fast_cgi	1

## viewlogs_page_size
## Default number of lines of the array displaying the log entries in the logs
## page
#viewlogs_page_size	25

## http_host
## Web domain of a virtual host
## Example: http_host	host.domain.tld
#http_host	host.domain.tld

## password_validation
## The password validation techniques to be used against user passwords that
## are added to mailing lists. Options come from Data::Password
## (http://search.cpan.org/~razinf/Data-Password-1.07/Password.pm#VARIABLES)
## Example: password_validation	MINLEN=8,GROUPS=3,DICTIONARY=4,DICTIONARIES=/pentest/dictionaries
#password_validation	

